/* *{
    margin: 0;
    padding: 0;
} */

.box-1{
    background-color: #333333;
    color: #fff;
    border-top: 5px solid yellow;
    border-left: 5px solid red;
    border-right: 5px solid green;
    border-bottom: 5px solid brown;
    padding: 10px;
    letter-spacing: 0.2em;
    word-spacing: 0.2em;
    border-radius: 15px;
    
}

.box-1 h1{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2em;
}

.categories h2{
    text-align: center;
    color: #333333;
    
}

.categories{
    border: 5px solid khaki;
    border-radius: 8px;
    margin-top: 15px;
}

.categories ul{
    padding: 0px;
    padding-left: 20px;
    list-style: none;
}

.categories li{
    padding-left: 10px;
    list-style-image: url('../img/check.jpg');
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}

#btn{
    background-color: #333333;
    color: #fff;
}
#btn:hover{
    background-color: springgreen;
    cursor: pointer;
}